@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

html {
    font-size: 62.5%;
}

body {
    padding: 0;
    margin: 0;
}

.hero {
    display: flex;
    align-items: center;
    height: 6em;
    color: white;
    background-color: #162028;
}

.hero h1 {
    text-transform: uppercase;
    font-size: 4em;
    font-family: 'Playfair Display', serif;
    position: relative;
    left: 5em;
}

.hero-content {
    position: relative;
    left: 62em;
}

.hero-ul {
    list-style: none;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    width: 22em;
    padding: 0;
    gap: 4em;
    font-size: 2em;
}

.hero-ul a {
    color: rgb(255, 255, 255, 0.3);
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    transition-duration: .5s;
}

.hero-ul a:hover {
    color: white;
}

.img-top img {
    width: 100%;
}

.apresentacao {
    margin-top: 20px;
    height: 500px;
}

.apresentacao header {
    font-size: 4em;
    color: #162028;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.apresentacao-div {
    width: 60%;
    margin: 60px auto 0;
    color: #162028cb;
    font-weight: bold;
}

.apresentacao-p {
    text-align: center;
    line-height: 1.8em;
    font-size: 1.6em;
    font-family: 'Baskervville', serif;
}

.cards {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 40px auto 0;
}

.cards-content {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.6em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.cards-p {
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: normal;
}

.final-session {
    background-image: url(imagens/bg_detalhe.png);
    background-position: right bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    margin-top: 12em;
    padding: 10em 0 0 15em;
    color: white;
}

.final-h1 {
    font-size: 6em;
    font-family: 'Playfair Display', serif;
    font-weight: normal;
}

.final-p {
    font-size: 1.8em;
    width: 75ch;
    font-family: 'Baskervville', serif;

}

footer {
    height: 2em;
    background-color: rgb(0, 0, 0, 0.9);
    color: white;
    font-size: 1.6em;
    font-family: 'Baskervville', serif;
    text-align: center;
    padding-top: .5em;
}