html, body {
    height: 100%;
}

body {
    background-color: rgb(137, 197, 216);
    font-family: 'Kaisei Tokumin', serif;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.list-wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 400px;
    max-height: 400px;
}

.list {
    list-style: none;
    padding: 0;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 5px;
}

.list-item {
    display: flex;
    background-color: white;
    border-bottom: 1px solid darkgrey;
    width: auto;
    height: 80px;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 15px;
}

.list-item:hover{
    background-color: rgb(211, 208, 208);
}

h1 {
    color: white;
    font-size: 25px;
}

.list-item-imagem img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 6px;
}

a:hover {
    color: red;
    font-size: 110%;

}

.list-item-name {
    font-size: 17px;
}

.list-item-email {
    font-size: 13px;
    color: rgb(97, 93, 93);
}

.list-item-content {
    background-color: chartreuse;
    flex-grow: 1;
}
