body {
    background-color: rgb(137, 197, 216);

}

.list-wrapper {
    background-color:darkcyan;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
    overflow: hidden;
    overflow-y: auto;
    font-family: 'Kaisei Tokumin', serif;
}

.list-item {
    display: flex;
    background-color: white;
    border-bottom: 1px solid darkgrey;
    width: auto;
    height: 100px;
    flex-direction: column;
    flex-wrap: wrap;
}

.list {
    list-style: none;
}


h1 {
    color: white;
    justify-content: center;
    margin-left: 80px;
    font-size: 22px;
}

.flex-item2 {
    width: 20px;
    background-color: blue;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

h1 {
    background-color: brown;
    font-size: 18px;

}

h2 {
    background-color: brown;
    font-size: 13px;
    color: rgb(0, 0, 0, 0.7);
}

img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 6px;
}

.flex-item2 i:hover {
    color: red;
    font-size: 110%;

}