:root {
    font-size: 62.5%;
}

    body {
        background-color: blueviolet;

    }

    h1 {
        font-size: 5em;
    }

    .cards-content {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .cards-article {
        background-color: azure;
        text-align: center;
        box-sizing: border-box;
        border: 1px solid black;
        padding: 1em;
    }

 