:root {
    font-size: 62.5%;
}

body {
    background-color:darkgray;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family:'Times New Roman', Times, serif;
}

h1 {
    font-size: 3em;
}

form {
    background-color: dimgray;
    color: white;
    width: 22em;
    border-radius: 10px;
    box-shadow: 3px 3px 10px;
    font-size: 1.6em;
}

fieldset {
    border:none;
    padding-bottom: 1em;
}

label {
    margin-bottom: .3em;
    margin-top: .2em;
}

input {
    margin-bottom: 1.8em;
    padding: .8em;
    border-radius: 4px;
}

input, label {
    display: block;  /* display block para alinhar os itens em coluna, um abaixo do outro*/
    width: 100%;
    box-sizing: border-box; /*o tamanho do elemento irá até a borda*/
}

legend {
    padding: 1em;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
}

.botao {
    background-color: midnightblue;
    color: white;
}

.botao:hover {
    box-shadow: 2px 2px 2px;
}

.botao2 {
    background-color: midnightblue;
    color: white; 
}

.botao2:hover {
    box-shadow: 2px 2px 2px;
}

.botoes {
    display: flex;
    gap: 3em;
}