body {
    margin-left: 170;
    margin-right: 170px;
    padding: 0;
    border: 2px solid black;
}

.h1-header {
    width: auto;
    text-align: center;
    background-color:  #db8981 ;
    padding: 15px;
    border-bottom: 1px solid black;
}

.personal-data {
    width: auto;
    border-bottom: 1px solid black;
}

.ul-personal-data {
    display: flex;
    flex-direction:row;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 50px;
    list-style: none;
}

.div-goal {
    margin-top: -10px;
    display: block;
    text-align: left;
    padding-bottom: 3px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding-left: 15px;
}

.professional-experience {
    display: block;
    text-align: left;
    border-bottom: 1px solid black;
    padding-left: 15px;

}

.training {
    display: block;
    text-align: left;
    border-bottom: 1px solid black;
    padding-left: 15px;

}

.courses-specializations {
    display: block;
    text-align: left;
    border-bottom: 1px solid black;
    padding-left: 15px;
}

.font {
    font-family: 'Nanum Gothic Coding', monospace;
}

h2 {
    text-decoration: underline;
}

.upper {
    text-transform: uppercase;
    font-weight: bold;
}

.div-menu {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.ul-menu li {
    list-style: none;
    display: inline-block;
}

.ul-menu a {
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 15px;
    border-radius: 5px;
    background-color: #db8981;
}